<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.app.orquesta">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_3"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.android.app.orquesta.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name=".userProfile.ProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.android.app.orquesta.userRegistration.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />


        <activity
            android:name="com.android.app.orquesta.userLogin.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".agrupacion.AgrupacionRegistrar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".agrupacion.AgrupacionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".agrupacionDetail.AgrupacionDetailActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".contrato.ContratoActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".evento.EventoRegistrar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".evento.EventoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".comentario.ComentarioActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.android.app.orquesta.splashScreen.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.android.app.orquesta.services.ProductGridService"
            android:exported="false" />
        <service
            android:name="com.android.app.orquesta.services.ProductGridGetService"
            android:exported="false" />
        <service
            android:name="com.android.app.orquesta.services.UserRegistrationService"
            android:exported="false" />
        <service
            android:name="com.android.app.orquesta.services.UserLoginService"
            android:exported="false" />


        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="${applicationId}.braintree" />
            </intent-filter>
        </activity>

    </application>

</manifest>